## 현재가격 불러오기

In [5]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen

In [6]:
url = "https://finance.naver.com/item/main.nhn?code=005930"

In [8]:
soup = bs(urlopen(url), 'html.parser')

In [10]:
today = soup.find('div', class_='today')
today

<div class="today">
<p class="no_today">
<em class="no_up">
<span class="blind">83,900</span>
<span class="no8">8</span><span class="no3">3</span><span class="shim">,</span><span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
</p>
<p class="no_exday">
<span class="sptxt sp_txt1">전일대비</span>
<em class="no_up">
<span class="ico up">상승</span>
<span class="blind">900</span>
<span class="no9">9</span><span class="no0">0</span><span class="no0">0</span>
</em>
<span class="bar">l</span>
<em class="no_up">
<span class="ico plus">+</span>
<span class="blind">1.08</span>
<span class="no1">1</span><span class="jum">.</span><span class="no0">0</span><span class="no8">8</span>
<span class="per">%</span>
</em>
</p>
</div>

In [12]:
today = today.find('span', class_='blind')

In [13]:
today.get_text()

'83,900'

In [14]:
today.get_text()+'원'

'83,900원'

In [15]:
int(today.get_text().replace(',', ''))

83900

## 시가총액 불러오기

In [24]:
mktcap = soup.find('table', summary='시가총액 정보')
mktcap

<table summary="시가총액 정보">
<caption>시가총액</caption>
<tr class="strong">
<th scope="row">시가총액</th>
<td><em id="_market_sum">






										500조

											8,648


								</em>억원</td>
</tr>
<tr><th scope="row">
<a class="link_site" href="/sise/sise_market_sum.nhn" onclick="clickcr(this, 'sop.19', '', '1', event)">시가총액순위</a>
</th><td>코스피 <em>1</em>위</td></tr>
<tr>
<th scope="row">상장주식수</th>
<td><em>5,969,782,550</em></td>
</tr>
<tr><th scope="row">액면가<span class="bar">l</span>매매단위</th>
<td>
<em>100</em>원
									<span class="bar">l</span>
<em>1</em>주
								</td>
</tr>
</table>

In [29]:
mktcap = mktcap.find('em', id='_market_sum')
mktcap = mktcap.get_text()

AttributeError: 'NoneType' object has no attribute 'get_text'

In [28]:
mktcap

<em id="_market_sum">






										500조

											8,648


								</em>